# Dependencies
node_modules/
.pnp
.pnp.js

# Production build outputs
dist/
dist-ssr/
build/
src-tauri/target/
target/

# Tauri & Signing keys
*.key
*.key.pub
.tauri/

# Environment & Local secrets
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / IDE artifacts
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS / Temporary files
Thumbs.db
Desktop.ini
.DS_Store
*.tmp
*.bak

# Checklist
checklist.md